@font-face {
  font-family: 'Ezze';
  src: url('/assets/ezze.woff2') format('woff2'),
       url('/assets/ezze.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Ezze', monospace !important;
  background-color: #172a3a !important;
  color: #74b3ce !important;
}
