@font-face {
  font-family: 'Ezze';
  src: url('/assets/ezze.woff2') format('woff2'),
       url('/assets/ezze.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

svg {
  shape-rendering: crispEdges;
}

body {
  font-family: 'Ezze', monospace !important;
  background-color: #172a3a !important;
  color: #ffffff !important;
}

h1, h2, h3 {
  color: #ffffff !important;
}

a:link {
  color: #c4ecff !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

a:visited {
  color: #f4bbfc !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

a:hover {
  color: #ff9e9e !important;
  background-color: transparent !important;
  text-decoration: underline !important;
}

a:active {
  color: #faff9e !important;
  background-color: transparent !important;
  text-decoration: underline !important;
}

