@font-face {
  font-family: 'Ezze';
  src: url('/assets/ezze.woff2') format('woff2'),
       url('/assets/ezze.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

svg {
  shape-rendering: crispEdges;
}

body {
  font-family: 'Ezze', monospace !important;
  background-color: #172a3a !important;
  color: #ffffff !important;
}

h1, h2, h3 {
  color: #ffffff !important;
}

a {
  color: #add8ff !important;
}

